<mat-card>
  <mat-form-field>
    <input  matInput type="text" [(ngModel)]="enteredTitle" placeholder="Title of the book" >
  </mat-form-field>
  <mat-form-field>
    <textarea matInput rows='6' [(ngModel)]="enteredContent" placeholder="comment"></textarea>
  </mat-form-field><br>
  <p>Review the book</p>
    <ng-container *ngFor="let star of stars;">
      <app-star
      (starEnter)="onStarEnter($event)"
      (starLeave)="onStarLeave($event)"
      (starClicked)="onStarClicked($event)"
      [starId]="star"
      [rating]=" hoverState || rating ">
      </app-star>
    </ng-container><br><br>
  <button mat-raised-button color='warn' (click)="onAddPost()">save post</button>
</mat-card>
